
<%- include ('layouts/head.ejs') %>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <% if (login) { %> 
        <!-- Sidebar -->
        <%- include ('layouts/sidebar.ejs') %>
        <!-- end sidehar -->
       

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar /header -->
                <%- include ('layouts/header.ejs') %>
                  <!-- header -->
                  <% } %> 
        
       <!-- Begin Page Content -->
       <% terrenos.forEach(function(terreno) { %>
        <div class="container-fluid">
            <h1>Editar terrenos</h1>
            <form class="row g-3" action="/updateterreno/<%= terreno.id %>" method="POST">

                <input id="id" name="id" value="<%= terreno.id %>" hidden>
                
                
                <div class="col-md-6">
                  <label for="id" name="id" class="form-label">Id Interno</label>
                  <input type="text" class="form-control" id="id_interno" name="id_interno" value="<%= terreno.id_interno %>" placeholder="id interno" >
                </div> 

                <div class="col-md-6">
                  <label for="calle" class="form-label">Calle</label>
                  <input type="text" class="form-control" id="calle" name="calle" placeholder="calle" value="<%= terreno.calle %>">
              </div>


                <div class="col-md-6">
                  <label for="lote" name="lote" class="form-label">Lote</label>
                  <input type="text" class="form-control" id="name" name="lote" value="<%= terreno.lote %>" placeholder="lote">
                  <div id="rol" class="form-text">
                    Solo debe tener números        
                 </div>
                </div>

                <div class="col-md-6">
                  <label for="manzana" class="form-label">Manzana</label>
                  <input type="text" class="form-control" id="manzana" name="manzana" value="<%= terreno.manzana %>" placeholder="manzana">
                  <div id="rol" class="form-text">
                    Solo debe tener números         
                 </div>
                </div>

                 <div class="col-12">
                  <label for="superficie" class="form-label">Superficie</label>
                  <input type="int" class="form-control" id="superficie" placeholder="superficie" name="superficie" value="<%= terreno.superficie %>" >
                  <div id="rol" class="form-text">
                    Solo debe tener números (150, 300).         
                 </div>
              
                </div> 
               
  
                  <div class="col-md-6">
                    <label for="precio" name="precio" class="form-label">Precio</label>
                    <input type="text" class="form-control" id="precio" name="precio" value="<%= terreno.precio.toLocaleString() %>" placeholder="precio">
                    <div id="rol" class="form-text">
                      Solo debe tener números separados por coma (200,000, 150,000).         
                   </div>
                  </div>
                

                  <div class="col-md-6">
                    <label for="predial" class="form-label">Predial</label>
                    <input type="text" class="form-control" id="predial" name="predial" value="<%= terreno.predial %>" placeholder="predial">
                  </div>
               
                  <div class="col-md-6">
                  <label for="rol" class="form-label">Escritura</label>
                  <!-- <label for="rol">Escritura</label> -->
                  <select class="form-control" id="escritura" name="escritura" >
                      <option value="">Seleccionar</option>
                      <option  <%= terreno.escritura=='si' ? "selected" : '' %> value="si">Si</option>
                      <option  <%= terreno.escritura=='no' ? "selected" : '' %>  value="no">No</option>
                  </select>
                </div>
                
                <div class="col-md-6">
                <label for="rol">Estado</label>
                <select class="form-control" id="estado" name="estado" >
                    
                    <option <%= terreno.estado=='disponible' ? "selected" : '' %> value="disponible">Disponible</option>
                </select>
              </div>

              <br> <br> <br> <br>
                <div class="col-12">
                  <a href="/terrenos" class="btn btn-secondary">Cancelar</a>
                  <button type="submit" class="btn btn-primary"  value="Save">Guardar</button>
                </div>

              </form>
       
              <% }); %>
    <!-- Footer -->

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->


<!-- Logout Modal-->
<%- include ('layouts/logout.ejs') %>      

    		<!-- Bootstrap core JavaScript-->
  <script src="../resources/vendor/jquery/jquery.min.js"></script>
  <script src="../resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../resources/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../resources/scripts/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../resources/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../resources/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../resources/scripts/datables.js"></script>

     		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if (typeof alert != "undefined")  { %>
  <script>
  Swal.fire({
    title:'<%= alertTitle %>',
    text:'<%= alertMessage %>',
    icon:'<%= alertIcon %>',
    showConfirmButton: <%= showConfirmButton %>,
    timer: <%= timer %>
  }).then(()=>{
    window.location='/<%= ruta %>'
  })
  </script>
 <% } %>
 
<%- include ('./layouts/dash2.ejs') %>
 
</div>

</body>
</html>