
<style>
    #suggestions {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px; /* Añadido para bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Añadido para sombra */
    margin-top: 5px;
    z-index: 1000; /* Ajusta este valor según tus necesidades */
  
  }
  
  .list-group-item {
    cursor: pointer;
  
  }
  </style>
  <%- include ('layouts/head.ejs') %>
  <body id="page-top">
  
      <!-- Page Wrapper -->
      <div id="wrapper">
          <% if (login) { %> 
          <!-- Sidebar -->
          <%- include ('layouts/sidebar.ejs') %>
          <!-- end sidehar -->
         
  
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">
  
              <!-- Main Content -->
              <div id="content">
  
                  <!-- Topbar /header -->
                  <%- include ('layouts/header.ejs') %>
                    <!-- header -->
                    <% } %> 
          
         <!-- Begin Page Content -->
         <% ventas.forEach(function(venta) { %>
          <div class="container-fluid">
              <h1>Editar ventas</h1>
              <form class="row g-3" action="/updateventa/<%= venta.id %>" method="POST">
            
                <input id="id" name="id" value="<%= venta.id %>" hidden>



               
  
                <div class="col-md-6">
                  <label for="cliente" class="form-label">Cliente</label>
                  <input type="text" class="form-control" id="id_customer" name="id_customer" value=" <%= venta.customer_name %>  <%= venta.customer_paterno %>  <%= venta.customer_materno %>" disabled>
              </div>
  
              <div class="col-md-6">
                <label for="terreno" class="form-label">Terreno</label>
                <input type="text" class="form-control" id="id_land" name="id_land" value="Manzana <%= venta.manzana %> Lote <%= venta.lote %>" disabled>

                <!-- <select class="form-select" id="id_land" name="id_land">
                    <option value="">Seleccione un terreno</option>
                    
                        <option value="<%= venta.id %>">Manzana <%= venta.manzana %> Lote <%= venta.lote %></option>
             
                </select> -->
            </div>
            
            <div class="col-md-6">
                <label for="interno" class="form-label">Id_terreno</label>
                <input type="text" class="form-control" id="interno" name="interno" disabled  value="<%= venta.id_interno %>">
            </div>
            
            <div class="col-md-6">
              <label for="precio" class="form-label">Precio</label>
              <input type="int" class="form-control" id="precio" name="precio" disabled value="<%= venta.precio %>">
          </div>
            
             
                    <!-- Tipo venta -->
        <div class="col-md-6">
          <label for="tipo_venta">Tipo venta:</label>
          <select class="form-control" id="tipo_venta" name="tipo_venta" >
              <option value="">Seleccionar</option>
              <option <%= venta.tipo_venta=='contado' ? "selected" : '' %> value="contado">Contado</option>
              <option <%= venta.tipo_venta=='credito' ? "selected" : '' %> value="credito">Credito</option>
            
          </select>
      </div>

                  
                    <div class="col-md-6">
                      <label for="fecha" name="fecha" class="form-label">Fecha</label>
                      <input type="date" class="form-control" id="fecha_venta" name="fecha_venta" value="<%= venta.fecha_venta%>" disabled>
                    </div>
                    <div class="col-md-6">
                      <label for="inicial" name="inicial" class="form-label">Enganche</label>
                      <input type="number" class="form-control" id="inicial" name="inicial" value="<%= venta.inicial%>" placeholder="Enganche">
                      <div id="rol" class="form-text">
                        Solo debe tener números.         
                     </div>
                    </div>
  
                    <div class="col-md-6">
                      <label for="n_plazos" name="n_plazos" class="form-label">Cantidad Plazo</label>
                      <input type="number" class="form-control" id="n_cuentas" name="n_cuentas" value="<%= venta.n_cuentas %>" placeholder="plazo">
                      <div id="rol" class="form-text">
                        Solo debe tener números.         
                     </div>
                    </div>
                  
                    <!-- lO HAGO DESPLEGABLE O QUE JALE EL NOMBRE -->
                    <div class="col-md-6">
                      <label for="vendedor" name="vendedor" class="form-label">Vendedor</label>
                      <input type="text" class="form-control" id="vendedor" name="vendedor" value="<%= name %>" readonly>
                    </div>
                  
              
                  
                          <!-- Cuotas -->
                          <div class="col-md-6">
                            <label for="cuotas" class="form-label">Cuotas por mes</label>
                            <input type="number" class="form-control" id="cuotas" name="cuotas" readonly value=`${cuotasTotal}` placeholder="cuotas x mes">
                        </div>
          


  
                <br> <br> <br> <br>
                  <div class="col-12">
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary"  value="Save">Guardar</button>
                  </div>
  
                </form>
                <% }); %>
            
      <!-- Footer -->
  
  <!-- End of Footer -->
  
  </div>
  <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="logout">Logout</a>
    </div>
  </div>
  </div>
  </div>s        
  
              <!-- Bootstrap core JavaScript-->
    <script src="../resources/vendor/jquery/jquery.min.js"></script>
    <script src="../resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="../resources/vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="../resources/scripts/sb-admin-2.min.js"></script>
  
    <!-- Page level plugins -->
    <script src="../resources/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../resources/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  
    <!-- Page level custom scripts -->
    <script src="../resources/scripts/datables.js"></script>
  
               
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
  <% if (typeof alert != "undefined")  { %>
   <script>
   Swal.fire({
     title:'<%= alertTitle %>',
     text:'<%= alertMessage %>',
     icon:'<%= alertIcon %>',
     showConfirmButton: <%= showConfirmButton %>,
     timer: <%= timer %>
   }).then(()=>{
     window.location='/<%= ruta %>'
   })
   </script>
  <% } %>
  
  <script>
    document.getElementById('id_land').addEventListener('change', function() {
      var terrenoId = this.value;
  
      // Realizar una solicitud al servidor para obtener los detalles del terreno seleccionado
      fetch('/terreno/' + terrenoId)
          .then(response => response.json())
          .then(data => {
              // Actualizar los campos en la vista con los datos recibidos
              document.getElementById('interno').value = data.id_interno;
              document.getElementById('precio').value = data.precio;
              // Actualizar otros campos aquí según sea necesario
          })
          .catch(error => {
              console.error('Error:', error);
          });
  });
  
  </script>
  <script>
      <% ventas.forEach(function(venta) { %>
    // Obtener la fecha como una cadena
const fechaString = "<%= venta.fecha_venta %>";

// Crear un objeto Date a partir de la cadena de fecha
const fecha = new Date(fechaString);

// Obtener los componentes de la fecha
const year = fecha.getFullYear();
const month = String(fecha.getMonth() + 1).padStart(2, '0'); // Ajustar el mes a dos dígitos
const day = String(fecha.getDate()).padStart(2, '0'); // Ajustar el día a dos dígitos

// Construir la cadena de fecha en el formato YYYY-MM-DD
const fechaFormateada = `${year}-${month}-${day}`;

// Asignar el valor formateado al input
document.getElementById('fecha_venta').value = fechaFormateada;
<% }); %>
            
  </script>

<script>
  // Función para verificar el valor inicial del campo "tipo_venta" al cargar la página
  document.addEventListener('DOMContentLoaded', function() {
    var tipoVenta = document.getElementById('tipo_venta').value;

    // Obtener los campos de "inicial" y "n_cuentas"
    var inicialField = document.getElementById('inicial');
    var nPlazosField = document.getElementById('n_cuentas');
    var cuotas = document.getElementById('cuotas');

    // Si el valor inicial es "contado", deshabilitar los campos de "inicial" y "n_cuentas"
    if (tipoVenta === 'contado') {
      inicialField.disabled = true;
      nPlazosField.disabled = true;
      coutas.disabled = true;
    }
  });

  
  // Agregar el evento de cambio al campo "tipo_venta"
  document.getElementById('tipo_venta').addEventListener('change', function() {
    var tipoVenta = this.value;

    // Obtener los campos de "inicial" y "n_cuentas"
    var inicialField = document.getElementById('inicial');
    var nPlazosField = document.getElementById('n_cuentas');
    var coutas = document.getElementById('cuotas');
    

    // Si se selecciona "contado", limpiar los campos de "inicial" y "n_cuentas"
    if (tipoVenta === 'contado') {
      inicialField.value = '';
      nPlazosField.value = '';
      cuotas.value = '';
      inicialField.disabled = true;
      nPlazosField.disabled = true;
    } else {
      // Si se selecciona otra opción, habilitar los campos de "inicial" y "n_cuentas"
      inicialField.disabled = false;
      nPlazosField.disabled = false;
    }
  });
</script>



  <script>
    // Función para calcular y actualizar las cuotas
function calcularCuotas() {
    // Obtener los valores de "inicial" y "n_cuentas"
    var inicialValue = parseFloat(document.getElementById('inicial').value) || 0;
    var nCuentasValue = parseFloat(document.getElementById('n_cuentas').value) || 0;
    var precioTerreno = parseFloat(document.getElementById('precio').value);
   
    // Calcular las cuotas (aquí puedes aplicar tu lógica específica)
    var saldoPendiente = precioTerreno - inicialValue;
    var cuotasTotal = saldoPendiente / nCuentasValue;

    // Actualizar el valor del campo "cuotas"
    document.getElementById('cuotas').value = cuotasTotal.toFixed(2);
}

// Agregar un evento "input" a los campos relevantes para llamar a la función calcularCuotas
document.getElementById('inicial').addEventListener('input', calcularCuotas);
document.getElementById('n_cuentas').addEventListener('input', calcularCuotas);

// Llamar a la función calcularCuotas para que las cuotas se muestren automáticamente al cargar la página
calcularCuotas();

  </script>
  
  </div>
  </body>
  </html>